@media screen and (min-width:1400px) {
    .text-btn {
        width: 100%;
    }
}

@media screen and (max-width:1400px) {
    #profile {
        height: 83vh;
        margin-bottom: 6rem;
    }

    .about-containers {
        flex-wrap: wrap;
    }
    .text-btn {
        width: 100%;
    }
}


@media screen and (max-width:1200px) {
    #desktop-nav {
        display: none;
    }
    #hamburgur-nav {
        display: flex;
        z-index: 10;
         max-width: 100%;
        padding: 0;
        margin: 0;
    }

    #experience, .experience-detail-container {
        margin-top: 2rem;
    }

    #profile, .section-container {
        display: block;
    }

    .arrow {
        display: none;
    }

    section, 
    .section-container {
        height: fit-content;
    }

    section {
        margin: 0 5%;
    }

    .section-pic-container {
        width: 275px;
        height: 275px;
        margin: 0 auto 2rem;
    }

    .about-containers {
        margin-top: 0;
    }

    .input-message{
        margin-left: 165px !important;
        width: 70%;
    }
    .in-touch {
        gap: 1rem !important;
        flex-wrap: wrap;
    }

}

@media screen and (max-width:600px) {

    #hamburgur-nav {
        height: 17vh;
    }

    #profile {  
        position: relative;
        margin-top: 15vh;
        height: 50vh;
        margin-bottom: 24vh;
        transition: transform 0.5s ease;
    }

  #hamburgur-nav.open ~ #profile {
    transform: translateY(25vh);
  }

      #contact {
        height: 40vh;
    }


    article {
        font-size: 1rem;
    }
    footer nav {
        height: fit-content;
        margin-bottom: 2rem;
    }

    .about-containers, .contact-info-upper-container, .btn-container {
        flex-wrap: wrap;
        gap: 10px;
    }
    .contact-info-container {
        margin: 0;
    }
    .contact-info-container p, .nav-links li a {
        font-size: 1rem;
    }

    .experience-sub-title {
        font-size: 1.25rem;
    }
    .logo {
        font-size: 1.5rem;
    }

    .nav-links {
        flex-direction: column;
        gap: 0.5rem;
        text-align: center;
    }
    .section-pic-container {
        width: auto;
        height: 46vw;
        justify-content: center;
    }
    .section-text-p2 {
        font-size: 1.25rem;
    }
    .title {
        font-size: 2rem;
    }
    .text-container {
        text-align: justify;
    }

    .inputs input {
        width: 100%;
        display: block;
        margin: 13px auto;
    }

    .inputs textarea {
        width: 150%;
        
    }
    .logo{
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

    .submit-btn {
        padding: 20px 0px 0px 60px;
    }
     
   

}