@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* General Styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* animation: appear 1s ease forwards; */
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}
 
p {
    color: rgb(85, 85, 85);
}

/* Transition */

/* This is to make the image in round */
.my-profile {
    border-radius: 50%;
}

/* This is for all a tag & btn class to be smoothly occur */
a, 
.btn {
    transition: all 600ms ease;
}

#bg-canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;        /* behind everything */
  pointer-events: none;
}


/* Desktop Nav */


    /* This is for targeting the header and styles it applicable for both desktop & mobile view*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 10vh;
    position: fixed;        
    top: 0;                 
    left: 0;                
    width: 100%;            
    z-index: 1000;          
    background-color: white; 

}
    /* This is for the menu items to be targetted */
.nav-links {
    display: flex;
    gap: 4rem;
    list-style: none;
    font-size: 1.5 rem;
}

    /* This covers the menu word styling part the link */
a {
    text-decoration: none;
    text-decoration-color: white;
    color: black;
}
    /* What to do when the word got hovers */
a:hover {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

a.active {
    color: gray;
    text-decoration: underline;
    text-underline-offset: 1rem;
    text-decoration-color: rgb(181,181,181);
}

    /* This is the logo of the page i.e) my name */
.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default;
}


.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
  }
/* Hamburgur Menu */

    /* To make it disappear when on the PC */
#hamburgur-nav {
    display: none;
    /* animation: appear 0.5s ease forwards; */
}

    /* This makes the icon and menubar in inline block */
.hamburgur-menu {
    /* position: relative; */
    display: block;
}

/* This defines the part which will hold 3 line (hamburgur line) */
.hamburgur-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

/* This explains the line how it want to be */
.hamburgur-icon span{
    width: 100%;
    height: 3px;
    background-color: black;
    transition: all 0.3S ease-in-out;
}

    /* This is for how the menu should be displayed */
.menu-link {
    position: absolute;
    top: 100%;
    right: 16%;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    display: none;
    transition: all 0.3s ease-in-out; 
}

.menu-link a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.menu-link li {
    list-style: none;
}

.menu-link.open {
   display: block;
}

/* This part is for changing the 3 lines into the 'X' mark when it is in open state*/
.hamburgur-icon.open span:first-child{
    transform: rotate(45deg) translate(10px, 5px);
}
.hamburgur-icon.open span:nth-child(2){
    opacity: 0;
}
.hamburgur-icon.open span:last-child{
    transform: rotate(-45deg) translate(10px, -5px);
}

/* This is for how it should display when it is in close state */
.hamburgur-icon span:first-child {
    transform: none;
}
.hamburgur-icon span:first-child {
    opacity: 1;
}
.hamburgur-icon span:first-child {
    transform: none;
}


/* SECTION PART */

/* This secttion part is like base rule which is applicable for all sections */
section {
    padding-top: 4vh;
    min-height: 60vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
    scroll-margin-top: 12vh;
}



/* PPROFILE SECTION */



/* This targets the profile section */
#profile {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-top: 15vh;
    height: 80vh;
    background-color: rgb(230, 230, 230);
    border-radius: 20px;
    box-shadow:
        0 28px 60px rgba(0, 0, 0, 0.10),  /* main depth */
        0 8px 20px rgba(0, 0, 0, 0.06); 

    transition: transform 0.4s ease, box-shadow 0.4s ease;
    /* animation: appear 1s ease forwards; */
}

/* This targets how the image should look like */
.section-pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

/* This is for the text which are in the left side of the profile part */
.section__text {
    align-self: center;
    text-align: center;
}

/* This targets the section text paragraph's font weight */
.section__text p{
    font-weight: 600;
}

/* This is one kind of para format styling */
.section-text-p1{
    text-align: center;
}

/* This is another kind of para format styling */
.section-text-p2{
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

/* This is for the title where the h1 elements are being used */
.title {
    font-size: 3rem;
    text-align: center;
    /* animation: appear 1.5s ease forwards; */
}

/* This is for the social media content part styling */
#socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
    /* animation: appear 1s ease forwards; */
}

/* ICON */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* Buttons => This part entirely targets the buttons part */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 0.3 ease-in-out;
    padding: 1rem;
    width: 8rem;
    border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
    border: rgb(53,53,53) 0.1rem solid;
}
.btn-color-1:hover, 
.btn-color-2:hover {
    cursor: pointer;
}

.btn-color-1, 
.btn-color-2:hover {
    background: rgb(53,53,53);
    color: white;
}

.btn-color-1:hover {
    background: rgb(0, 0, 0);
}

.btn-color-2 {
    background: none;
}

.btn-color-2:hover {
    border: rgb(255, 255, 255) 0.1rem solid;
}

.btn-container {
    gap: 1rem ;
}

/* ABOUT */

#about {
    position: relative;
    animation: appear 1s ease forwards;
}

/* This is in about part to display the items in flex */
/* .section-container {
    display: flex;
} */



.about-containers, 
.about-detail-container {
    display: flex;
}

/* This is for maintaing the details in the about part container */
.about-containers {
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* This is for how the outer container of the education looks like */
.about-detail-container {
    justify-content: center;
    flex-direction: column;
}



/* It is the inner container which containes the details */
.details-container {
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163,163,163);
    text-align: center;
}

/* It contains the all detail in the about part */
.section-container {
    gap: 4rem;
    height: 80%;
}

/* It is not needed now because of the photo is not used */
/* .section-pic-container {
    height: 400px;
    width: 400px;
    margin: auto 0;
} */

/* This is the arrow part which is common for all */
.arrow {
    position: absolute;
    right: -5rem;
    bottom: 2.5rem;
}


/* EXPERIENCE */

#experience {
    position: relative;
    animation: appear 1s ease forwards;
}

/* This is for the subtitle (h2) in the page */
.experience-sub-title {
    color: rgb(85, 85, 85);
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 2rem;
}

/* This is the outer layer of the entire knowledge part of how it should be */
.experience-detail-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    justify-content: center;
    flex-direction: column;    
}

/* This is to display of the how the details should be arranged */
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}

/* How teh article details are to be placed */
article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}


article .icon {
    cursor: default;
}

/* PROJECT */

#project {
    position: relative;
    animation: appear 1s ease forwards;
}

/* This is to target how the border part to be take place */
.color-container {
    border-color: rgb(163,163,163);
    background: rgb(255, 255, 255);
}

.project-img {
    border-radius: 2rem;
    width: 90%;
    height: 90%;
}


.project-title {
    margin: 1rem;
    color: black;
}

.project-btn {
    color: black;
    border-color: rgb(163,163,163);
}

/* CONTACT */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    animation: appear 1s ease forwards;
}

.contact-info-upper-container {
    display: flex;
    justify-content: center;
    border-radius: 2rem;
    border: rgb(53,53,53) 0.1rem solid;
    border-color: rgb(163, 163, 163);
    background: rgb(250, 250, 250);
    margin: 2rem auto;
    padding: 0.5rem;
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

/* Contact Form */

#contact {
    position: relative;
}

.contact-form {
    display: flex;
    flex-wrap: wrap;
    gap: 2.6rem;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.inputs {
    /* flex: 1 1 calc(33.33% -15px); */
    /* min-width: 331px; */
    /* display: flex;
    justify-content: center;
    align-self: center;
    text-align: center; */
}

.inputs label {
    font-size: 24px;
    font-weight: 600;
    color: rgb(53,53,53);
}

.inputs input{
    padding: 15px 10px;
    width: 17rem;
    border-radius: 1rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    color: rgb(53,53,53);
    font-size: 20px;
    /* margin: 5px; */
    margin-left:10px;
}

.inputs input::placeholder {
    font-weight:bold;
    font-size: 16px;
}

.inputs input:focus,
textarea:focus {
    outline: none;
    box-shadow: none;
    border: rgb(163, 163, 163) 3px solid;
    transition:ease-in-out;
}

.input-message {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 40px;
}

.inputs textarea {
    height: 5rem;
    border-radius: 1rem;
    border: rgb(163, 163, 163) 0.1rem solid;
    color: rgb(53,53,53);
    resize: none;
    padding: 4px 10px;
    width: 350px;
    /* margin-top: 0px; */
}

.inputs textarea::placeholder {
    font-weight:bold;
    font-size: 16px;
    padding: 1px;
}

.text-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -150px;
}

.form-btn {
    margin-top: 2rem;
    margin-left: 130px !important;
}

.result {
    width: 100%;
    text-align: center;
}

.text-box{
    display: inline;
}

.submit-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}

.text-part {
    padding-top: 15px;
}


/* Footer */

footer {
    height: 10vh;
    margin: 0.1rem;
    animation: appear 1s ease forwards;
}

footer p {
    text-align: center;
}

.reverse {
    transform: rotate(180deg);
}

/* 
@keyframes appear {
    from {
        opacity: 0;
        transform: scale(0.5);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}






/* These are the animation part */

@keyframes slideInLeft {
  from {
    transform: translateX(-100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}


@keyframes slideInRight {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-on-scroll {
    opacity: 0;
    transform: translateX(100px) scale(0.5);
    transition: all 0.5s ease;
}


.left-slide {
  animation: slideInLeft 1.5s ease-out forwards;
}

/* .right-slide {
  animation: slideInRight 1s ease-out forwards;
}  */

/* This will trigger the animation */
.animate-on-scroll.active {
      opacity: 1;
  transform: translateX(0) scale(1);
    animation: appear 1.5s ease forwards;
} 